<div class="container">
    <div class="jumbotron text-center">
        <h1><span> All Games</span></h1>
        <br>
        <table class="games-table">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Release Date</th>
            <th>Posted At</th>
            <th>Authors</th>
            <th>Publisher</th>
            <th></th>
            <th></th>
          </tr>
        {{#each this.model as |game|}}
          <tr>
            <td>{{game.name}}</td>
            <td>{{game.description}}</td>
            <td>{{game.release_date}}</td>
            <td>{{dateFormat game.posted_at}}</td>
            <td>{{game.authors}}</td>
            <td>{{game.publisher}}</td>
            <td><button class="btn btn-default"><span class="fa fa-edit"></span></button></td>
            <td><button class="btn btn-default"><span class="fa fa-trash"></span></button></td>
          </tr>
        {{/each}}
      </table>
    </div>
</div>

{{outlet}}