<div class="container">
    <div class="jumbotron text-center">
        <h1><span> All Games</span></h1>
        <br>
        <table class="games-table">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Release Date</th>
            <th>Posted At</th>
            <th>Publisher</th>
            <th></th>
            <th></th>
          </tr>
        {{#each this.model as |game|}}
          {{#unless game.isNew}}
            <tr>
              <td>{{game.name}}</td>
              <td>{{game.description}}</td>
              <td>{{dateFormat game.release_date}}</td>
              <td>{{dateFormat game.posted_at}}</td>
              <td>{{game.publisher}}</td>
              <td class="small-column"><button class="btn btn-default"><span class="fa fa-edit"></span></button></td>
              <td class="small-column"><button class="btn btn-default"><span class="fa fa-trash"></span></button></td>
            </tr>
          {{/unless}}
        {{/each}}
      </table>
    </div>
</div>

{{outlet}}